

.loader{
    --bg-width: 0px;
    --bg-height:0px;

    position: fixed;
    top:0;
    left:0;
    width: var(--bg-width);
    height: var(--bg-width);
    z-index: 2;
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333333;
    opacity: 0.7;
}



.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 5px dashed #dddddd;
    /* border-top-color:#009578; */
    border-radius: 50%;
    z-index: 3;
    /* animation-duration: 1s;
    animation-name: spin;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite; */
    animation: 0.75s spin ease-in-out infinite;
}




@keyframes spin {
    0%{
        border: 5px dashed #dddddd;
        border-right-color:#005c95;
        --bg-width:100vw;
        --bg-height:100vh;
    }
    25%{
        border: 5px dashed #dddddd;
        border-bottom-color:#005c95;
        /* --bg-width:100vw;
        --bg-height:100vh; */
    }
    50%{
        border: 5px dashed #dddddd;
        border-left-color:#005c95;
        --bg-height:100vh; */
    }
    100%{
        border: 5px dashed #dddddd;
        border-top-color:#005c95;
    }
}
