

.navbar-container {
    list-style: none;
    width: 100vw;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    display: flex;             /* make navbar a flex container */
}

.list-holder, .list-holder ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    position: relative;
    padding-left: 20px;
    /* left: 1000px; */
}
.list-holder{
    gap: 65vw;
}

.redirection-link{
    color: rgb(144, 184, 255);
    font-size: large;
    font-weight: bold;
}

.logo-img{
    max-width: 120px;
    max-height: 60px;
    background: transparent;
    user-select: none;
}

.logo-img:hover{
    /* max-width: 100px;
    max-height: 60px; */
    transform: scale(1.2)
}



.home-link, .about-link, .home-button, .about-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 7px;
    height: 70px;
    width: 12vw;
    user-select: none;
}

.home-button:hover, .about-button:hover{
    background-color: rgb(72, 72, 72);
}



@media(max-width: 1200px){
    .list-holder{
        gap: 55vw;
    }
}


@media(max-width: 600px){
    .navbar-container {
        /* list-style: none; */
        width: 100%;
        height: 300px;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgb(0, 0, 0);
        z-index: 1;
        display: flex;           
        /* opacity: 0; */
        visibility: hidden;
    }

    .list-holder ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        position: relative;
        z-index: 2;
        padding-left: 20px;
    }

    .active{
        visibility: visible;
    }

    .ham-menu{
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-top: 20px;
        margin-right: 20px;
        position: relative;
        /* padding-top: 50px; */
        gap: 10px;
        visibility: visible;
        transition: 0.3s ease-in;
  
    }

    .ham-menu span{
        height: 5px;
        width: 50px;
        background-color: rgb(111, 132, 209);
        border-radius: 25px;
        position: absolute; 
    }
    .ham-menu span:nth-child(1){
        top: 25%;
    }
    .ham-menu span:nth-child(2){
        top: 50%;
    }

    .first-span-after{
        transform: rotate(-45deg);
    }
    .second-span-after{
        transform: rotate(45deg);
        margin-top: -13px;  
    }
    .third-span-after{
        visibility: hidden;
    }

    .list-holder{
        gap: 100px;
    }


    .logo-img{
        margin-bottom: 200px;
        visibility: visible;
    }

    .home-button, .about-button{
        width: 1000px;
    }


}


