.toggle-container{
    position: relative;
    width: 300px;
    height: 36px;
    background-color: #c4c4c4;
    cursor: pointer;
    user-select: none;
    border-radius: 3px;
    padding: 2px;
    margin-top: 20px;
}

.toggle-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width:150px;
    font-size: 14px;
    line-height: 16px;
    cursor: pointer;
    color: #fff;
    background-color: #000000;
    box-shadow: 0 2px 4px rgb(0, 0, 0, 0.25);
    padding: 8px 12px;
    border-radius: 3px;
    position: absolute;
    transition: all 0.2s ease;
    left:146px;
    font-weight: bold;
}

.disable{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    left: 4px;

}
